# this is the main configuration file
root = true

# unix-style line-endings with empty line ending
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
